.carrossel-cuidados{
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.corrossel-cuidados__titulo{
    margin-top: 1em;
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 33px;
    padding: 0 1em;
}
.carrossel-cuidados__texto{
    padding: 0 2em;
    font-size: 16px;
    margin-bottom: 1.5em;
}
.carrossel-cuidados-swiper{
    padding: 0 1em;
    width: 100%;
}
.carrossel-cuidados-img{
    width: 130px;

}

/* conteiner giff */
.gif{
    margin: 4em 0;
    width: 100%;
}
.gif__conteiner{
    padding: 0 1em;
}
.gif__conteiner-gif{
    width: 100%;
}
.gif__conteiner-apresentacao{
    color: var(--cor-paragrafo-cinza);
    text-align: center;
    padding: 1.5em 1em;
    background-color: var(--cor-cinza-claro);
    display: flex;
    flex-direction: column;
    gap: 1em;
   align-items: center;
}
.git__conteiner-apresentacao-titulo{
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    font-size: 17px;
    font-weight: 700;
}
.git__conteiner-apresentacao-subtitulo{
    font-family: var(--fonte-titulo);
    font-size: 24px;
    font-weight: 700;
}
.git__conteiner-apresentacao-paragrafo{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5em;
}
.git__conteiner-apresentacao-botao{
    margin: 1em 0;
    padding: 1em;
    text-decoration: none;
    color: var(--cor-branco);
    font-family: var(--fonte-titulo);
    font-size: 15px;
    font-weight: 700;
    background-color: var(--cor-preto);
    width: 40%;
    border: none;
    border-radius: 22px;
}
@media (min-width: 1024px) {
    .corrossel-cuidados__titulo{
        font-size: 40px;
    }
    .carrossel-cuidados__texto{
        font-size: 24px;
    }
    .carrossel-cuidados-swiper{
        width: 700px;
    }
    .gif__conteiner{
        display: flex;
    }
    .gif__conteiner-apresentacao{
        padding:1em;
    }
}