

.gif{
    margin: 4em 0;
    width: 100%;
}
.gif__conteiner{
    margin-top: 2em;
    padding: 0 1em;
}
.gif__conteiner-gif{
    width: 100%;
}
.gif__conteiner-apresentacao{
    color: var(--cor-paragrafo-cinza);
    text-align: center;
    padding: 1.5em 1em;
    background-color: var(--cor-cinza-claro);
    display: flex;
    flex-direction: column;
    gap: 1em;
   align-items: center;
}
.git__conteiner-apresentacao-titulo{
    text-transform: uppercase;
    font-family: var(--fonte-titulo);
    font-size: 17px;
    font-weight: 700;
}
.git__conteiner-apresentacao-subtitulo{
    font-family: var(--fonte-titulo);
    font-size: 24px;
    font-weight: 700;
}
.git__conteiner-apresentacao-paragrafo{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5em;
}
.git__conteiner-apresentacao-botao{
    margin: 1em 0;
    padding: 1em;
    text-decoration: none;
    color: var(--cor-branco);
    font-family: var(--fonte-titulo);
    font-size: 15
    px;
    font-weight: 700;
    background-color: var(--cor-preto);
    width: 40%;
    border: none;
    border-radius: 22px;
}
@media (min-width: 1024px) {
    .corrossel-cuidados__titulo{
        font-size: 40px;
    }
    .carrossel-cuidados__texto{
        font-size: 24px;
    }
    .carrossel-cuidados-swiper{
        width: 700px;
    }
    .gif__conteiner{
        overflow: auto;
        width: 90%;
        margin: auto 5%;
        display: flex;
    }
    .gif__conteiner-gif{
        width: 50%;    
    }
    .gif__conteiner-apresentacao{
        width: 50%;
        padding:1em;
    }
}
@media (min-width:1249px)  {
    .carrossel-cuidados-swiper{
        width: 1280px;
    }
    .gif__conteiner-apresentacao{
        gap: 3em;
        padding-top: 5%;
    }
    .git__conteiner-apresentacao-titulo{
        text-transform: uppercase;
        font-family: var(--fonte-titulo);
        font-size: 24px;
        font-weight: 700;
    }
    .git__conteiner-apresentacao-subtitulo{
        font-family: var(--fonte-titulo);
        font-size: 26px;
        font-weight: 700;
    }
    .git__conteiner-apresentacao-paragrafo{
        font-size: 25px;
        text-align: justify;
        line-height: 1.5em;
    }
}