.filtro-back-favoritos{
    display: none;
    background-color: rgba(0, 0, 0, 0.483);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
}
.titulo-favoritto{
    padding-top: 1em;
    text-align: center;
}
.group-favoritos{
    display: flex;
    position: relative;

}
.icone-fechar-favoritos{
    margin-top: 20px;
    position: absolute;
    left: 100%;
    background-image: url(/assets/keyboard_double_arrow_left_.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;

}
.titulo-produto-favoritos{
    font-size: 18px ;
    display: flex;
    justify-content: space-between;
}
.group-text-favoritos{
    display: flex;
    flex-direction: column;
}
.nome-produto-favorito{
    font-weight: 700;
}
.descricao-produto-favorito{
    font-size: 14px;
    font-weight: 400;
}
.area-favoritos{
    background-color: var(--cor-branco);
    width: 70%;
    height: 100vh;
}
.group-botoes-favoritos{
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-between;
}
.botoes-favoritos{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao-adicionar-todos{
    display: flex;
    gap: 0.5em;
    background-color: var(--cor-branco);
    padding: 0.5em;
    border-radius: 20px;
}
.icone-sacola{
    background-image: url(/assets/sacola-black.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.botao-adicionar-todos:hover{
    background-color: var(--cor-preto);
    color:  var(--cor-branco);
    .icone-sacola{
        background-image: url(/assets/sacola-branco.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
    transition: 0.5s;
}
.rodape-favorito{
    border-top: 1.5px solid var(--cor-cinza-claro);
    height: 20vh;
}
.produtos-adicionados-favoritos{
    height: 450px;
    overflow: hidden;
    overflow-y: auto;
}
.produto-adicionando-favoritos{
    padding: 0.5em 1em;
    box-shadow: 0px 5px 2px var(--cor-cinza-claro);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho__principal__lista__sub-lista__item_usuario{
    text-decoration: none;
}
.imagem-produto-favorito{
    width: 20%;
    max-width: 150px;
    min-width: 100px
}

.group-text-icone{
    gap: 0.5em;
    display: flex;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--cor-titulo);
}
.notificacoes{
    position: absolute;
    bottom: 60%;
    margin: 0;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: var(--cor-branco);
    background-color: red;
    width: 15px;
}
@media(max-width: 800px){
    .nome-produto-favorito{
        font-size: 16px;
        font-weight: 700;
    }
    .descricao-produto-favorito{
        font-size: 12px;
        font-weight: 400;
    }
    .area-favoritos{
        width: 90%;
    }
}