.botao-icone-usuario {
    background-color: transparent;
    border: none;
}

.filtro-back-form {
    background-color: #0000007b;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    display: flex;
}
.imagem-fundo-desck{
    display: none;
}
.conteiner-fundo-form {
    width: 80%;
}

.imagem-fundo-mobile {
    width: 100%;
}

.area-form {
    background-color: var(--cor-branco);
    border: none;
    width: 100%;
    text-align: center;
}

.form{
    padding: 1em;
    width: 100%;
}

.form-header{
    width: 100%;
    margin: 0;
    padding: 1em;
    display: flex;
    align-items:center;
    justify-content: space-between;
    text-align: center;
}
.form-header li{
    display: flex;
    justify-content: right;
    width: 33%;
}

.form-titulo{
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    width: 55%;
    margin: 0;
}

.form-label-fechar {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content:right;
    width: 45%;
}

.form-icone-fechar {
    background-image: url(../assets/fechar-black.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.form-rotulo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-input {
    color: var(--cor-titulo-preto);
    margin-top: 1em;
    text-align: left;
}

.form-input-box {
    height: 40px;
    width: 100%;
    border: 2px solid var(--cor-titulo-preto);
}

.password {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-password {
    background-image: url('../assets/invisivel.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 15%;
    right: 1%;
    z-index: 5;
}
.mensagem-erro{
    background-color: var(--cor-branco);
    z-index: 3;
    margin: 0;
    color: red;
    font-size: 12px;
    line-height: 1em;
}
.mensagem-erro-senha{
    margin: 0;
    position: absolute;
    left: 0%;
    top: 100%;
}
.termos__texto{
    font-size: 14px;
    margin-left: 1em;
}
.form-input-box::placeholder {
    padding: 0 0.5em;
}

.area-submit {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    position: relative;
}

.botao-recuperar-senha {
    position: absolute;
    bottom: 180%;
    right: 1%;
    width: 170px;
    background-color: transparent;
    border: none;
}

.botao-submit {
    border: none;
    color: var(--cor-branco);
    background-color: var(--cor-titulo-preto);
    height: 40px;
}

.botao-cadastrar {
    background-color: transparent;
    font-family: 500;
    border: none;
}

.botao-entrar-google {
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
    width: 190px;
    background-color: var(--cor-branco);
    box-shadow: 0px 2px 10px var(--cor-cinza);
    border: none;
    border-radius: 20px;
    padding: 0.5em;
}

.icone-google {
    background-image: url('../assets/google.svg');
    width: 24px;
    height: 24px;
}

.outras-maneiras-entrar {
    font-size: 14px;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:1024px) {
    .conteiner-fundo-form {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .area-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 45%;
    }

    .imagem-fundo-desck {
        display: block;
        width: 45%;
    }

    .imagem-fundo-mobile {
        display: none;
    }
}