.cabecalho__promocao {
    display: flex;
    width: 100%;
    padding: 0.5em 0;
    background-color: var(--cor-cinza);
    font-family: var(--fonte-paragrafo);
    font-size: 9px;
    color: var(--cor-paragrafo-cinza);
    align-items: center;
    justify-content: center;
}

.conteiner__pesquisar-campo {
    border: none;
    background-color: var(--cor-cinza-claro);
    border-radius: 20px;
    padding: 0.5em;
    width: 100%;
}

.conteiner__pesquisar-campo::placeholder {
    background-image: url(/assets/lupa.svg);
    background-repeat: no-repeat;
    background-position: 100%;
}

.conteiner__pesquisar {
    text-align: left;
    width: 50%;
    padding: 1em;
}
.titulo_destaque{
    text-align: left;
    font-size: 24px;
    font-family: 700;
}
.descricao_destaque{
    font-size: 18px;

}
.gif .titulo_destaque{
    padding-left: 1em;
}
.gif .descricao_destaque{
    padding-left: 1.5em;
}

.carrossel {
    position: relative;
}

.cabecalho__principal {
    position: relative;
}

/*Campo pesquisa*/
.conteiner__pesquisar {
    position: relative;
}

.lista-produtos-pesquisados {
    width: 95%;
    height: 45vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--cor-branco);
    padding: 0;
    box-shadow: -1px 5px 20px var(--cor-titulo-preto);
    position: absolute;
    z-index: 4;
    border-radius: 5px;
}

.item-encontrado-campo-pesquisa {
    display: flex;
    padding: 0.5em 0;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid var(--cor-cinza-claro);
}

.imagem-pesquisada {
    width: 20%;
}

.descricao-categoria-campo-pesquisa {
    text-decoration: none;
    color: var(--cor-titulo-preto);
    font-size: 12px;
    margin: 0;
}

.titulo-produto-campo-pesquisa {
    font-size: 16px;
    margin: 0
}

.cabecalho__promocao__icone-promocao {
    background-image: url(../assets/tickets-icon.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}


.cabecalho__promocao__texto-promocao {
    font-weight: 700;
    margin: 0;
}

.cabecalho__promocao_destaque {
    text-transform: uppercase;
}

.cabecalho__principal__lista_imagem {
    width: 25px;
}

.cabecalho__principal__lista_logo {
    width: 100px;
}

.cabecalho__principal__lista {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

.dropdown-menu-eq {
    margin-bottom: 1em;
    border: none;
}

.dropdown-eq {
    display: none;
}

.dropdown__conteiner-eq {
    padding: 0.5em 0;
    margin-left: 1em;
}

.dropdown__conteiner-eq li a,
.dropdown__conteiner-eq li {
    text-decoration: none;
    color: var(--cor-cinza);
}

.arrow-left {
    background-image: url('../assets/arrow_left.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.cabecalho__principal__lista__sub-lista__item {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-titulo-preto);
}

.icone-20 {
    width: 20px;
}

.cabecalho__principal__lista__sub-lista__item_usuario {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
    border: none;
}

.cabecalho__principal__lista__sub-lista__item_usuario p {
    margin: 0;
}

.cabecalho__principal__lista__sub-lista__top {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    border-top: 1px solid var(--cor-cinza-claro);
    border-bottom: 1px solid var(--cor-cinza-claro);
    margin-bottom: 1em;
}

.cabecalho__principal__lista-item {
    display: flex;
}

.checkbox-menu-fechar {
    padding-top: 0.5em;
    display: flex;
    justify-content: right;
    align-items: center;
}

.cabecalho__principal__lista__sub-lista {
    padding: 0;
    z-index: 4;
    width: 80%;
    height: 100vh;
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
}

.cabecalho__principal__lista__sub-lista__item {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1em 2em;
    height: 1em;
}

.cabecalho__principal__lista__sub-lista__item p {
    margin: 0;
}

.cabecalho__principal__lista__sub-lista__bottom {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    gap: 2em;
    border-top: 1px solid var(--cor-cinza-claro);
}

.icone-10 {
    width: 1em;
}

.cabecalho__principal__sub-lista__conteiner {
    display: flex;
    position: relative;
}

.cabecalho__principal__sub-lista__conteiner-fundo {
    z-index: 1;
    position: absolute;
    right: -390px;
    top: -40px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 110px;
    height: 100vh;
}

.conteiner-menu {
    display: none;
}

.cabecalho__principal__lista-checkbox:checked~.conteiner-menu {
    display: block;
}

.cabecalho__principal__lista_imagem-menu {
    width: 30px;
    height: 30px;
}

.menu-hamburg {
    background-image: url(../assets/menu.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.icone-fechar-menu {
    background-image: url('/assets/fechar-black.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.cabecalho__principal__lista-checkbox:checked~.label {
    background-image: url(../assets/fechar.svg);
}

.cabecalho__principal__lista-checkbox:checked~.label {
    z-index: 2;
    position: relative;
    left: 320px;
}

.cabecalho__principal__lista-checkbox {
    display: none;
}

.cabecalho__principal-1024,
.cabecalho__principal-1024-categorias {
    display: none;
}

.area-menu-mobile {
    border: 1px solid var(--cor-cinza-claro);
}

@media (min-width:800px) {
    .titulo_destaque{
        text-align: left;
        font-size: 36px;
        font-family: 700;
        padding-left: 1.5em;
    }
    .descricao_destaque{
        text-align: left;
        font-size: 24px;
        padding-left: 2.5em;
    }
    .comteiner__pesquisa-mobile {
        display: none;
    }

    .cabecalho__principal {
        position: relative;
    }

    .cabecalho {
        width: 100%;
        z-index: 2;
        position: fixed;
        top: 0;
        background-color: var(--cor-branco);
    }

    .cabecalho__promocao {
        font-size: 20px;
        width: 100%;
        align-items: center;
    }

    .link-logo {
        width: 33%;
    }

    .cabecalho__promocao__icone-promocao {
        height: 30px;
        width: 30px;
    }

    .cabecalho__principal__lista {
        display: none;
    }

    .cabecalho__principal-1024 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .area-logo {
        width: 25%;
    }

    .cabecalho__principal-1024-logo {
        width: 35%;
    }

    .cabecalho__principal-1024-icones {
        padding: 0;
        margin: 0;
        display: flex;
        width: 25%;
        justify-content: space-evenly;

    }

    .cabecalho__principal-1024-icon {
        display: block;
        width: 25px;
        text-decoration: none;
    }

    .cabecalho__principal-1024-categorias {
        display: block;
        width: 100%;
        border: 1px solid var(--cor-cinza-claro);
    }

    .cabecalho__principal-1024-categorias-lista {
        margin: 0;
        display: flex;
        padding: 1em;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    .cabecalho__principal-1024-categorias-lista-itens {
        font-size: 13px;
        font-family: var(--fonte-titulo);
        text-decoration: none;
        color: var(--cor-titulo-preto);
    }
}