
.cabecalho__promocao {
    display: flex;
    width: 100%;
    padding: 0.5em 0;
    background-color: var(--cor-cinza);
    font-family: var(--fonte-paragrafo);
    font-size: 9px;
    color: var(--cor-paragrafo-cinza);
    align-items: center;
    justify-content: center;
}
/* ------ BOTÃO FLUTUANTE ------ */
.cabecalho__principal{
    position: relative;
}
.botao-flutuante{
    position: fixed;
    z-index: 3;
    top: 70%;
    left: 20%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.botao-flutuante-msg{
  
 display: none;
 background-color: var(--cor-cinza-claro);
 width: 250px;
 padding: 0.5em;
 border-radius: 10px;
 box-shadow: 5px 5px 5px #aeaeaebb;
}
.botao-flutuante-link{
    text-decoration: none;
    display: flex;
    justify-content: right;
}
.botao-flutuante-img{
    margin-left:250px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #aeaeaebb;
    position: relative;
    z-index: 4;
   background-image: url(/assets/whatsapp-preto.svg);
   background-repeat: no-repeat;
   width: 51px;
   height: 50px;
}
.botao-flutuante-notificacao{
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    width: 15px;
    text-align: center;
    font-size: 10px;
    background-color: red;
    font-weight: 700;
    color: white;
}
.cabecalho__promocao__icone-promocao {
    background-image: url(../assets/tickets-icon.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.botao-flutuante:hover .botao-flutuante-img{
    margin-left: 0;
}
.botao-flutuante:hover .botao-flutuante-msg{
    display: block;
    left: 25%;
}
.cabecalho__promocao__texto-promocao {
    font-weight: 700;
    margin: 0;
}

.cabecalho__promocao_destaque {
    text-transform: uppercase;
}

.cabecalho__principal__lista_imagem {
    width: 25px;
}

.cabecalho__principal__lista_logo {
    width: 100px;
}

.cabecalho__principal__lista {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
}

.icone-20 {
    width: 20px;
}

.cabecalho__principal__lista__sub-lista__item_usuario {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.cabecalho__principal__lista__sub-lista__item_usuario p{
    margin: 0;
}

.cabecalho__principal__lista__sub-lista__top {

    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    border-top: 1px solid var(--cor-cinza-claro);
    border-bottom: 1px solid var(--cor-cinza-claro);
}

.cabecalho__principal__lista-item{
    position: relative;
    display: flex;
}

.cabecalho__principal__lista__sub-lista{
    padding: 0;
    left: -56px;
    top: -40px;
    position: absolute;
    z-index: 4;
    width: 340px;
    height: 100vh;
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
}

.cabecalho__principal__lista__sub-lista__item {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1em 2em;
    height: 1em;
}
.cabecalho__principal__lista__sub-lista__item p{
    margin: 0;
}

.cabecalho__principal__lista__sub-lista__bottom {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    gap: 2em;
    border-top: 1px solid var(--cor-cinza-claro);
}

.icone-10 {
    width: 1em;
}

.cabecalho__principal__sub-lista__conteiner {
    display: flex;
    position: relative;
}

.cabecalho__principal__sub-lista__conteiner-fundo {
    z-index: 1;
    position: absolute;
    right: -390px;
    top: -40px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 110px;
    height: 100vh;
}

.conteiner-menu {
    display: none;
}

.cabecalho__principal__lista-checkbox:checked~.conteiner-menu {
    display: block;
}

.cabecalho__principal__lista_imagem-menu {
    width: 30px;
    height: 30px;
}

.label {
    position: absolute;
    top: -15px;
    background-image: url(../assets/menu.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.cabecalho__principal__lista-checkbox:checked~.label {
    background-image: url(../assets/fechar.svg);
}

.cabecalho__principal__lista-checkbox:checked~.label {
    z-index: 2;
    position: relative;
    left: 320px;
}

.cabecalho__principal__lista__sub-lista__item p {
    font-weight: 700;
}

.cabecalho__principal__lista-checkbox {
    display: none;
}

.cabecalho__principal-1024, .cabecalho__principal-1024-categorias{
    display: none;
}

@media  (max-width:700px) and (min-width:1024px){

}
@media (min-width:1024px){
    body{
        padding-top: 260px;
    }
    .cabecalho{
        width: 100%;
        z-index: 2;
        position: fixed;
        top: 0;
        background-color: var(--cor-branco);
    }
    .cabecalho__promocao {
        font-size: 20px;
        width: 100%;
        align-items: center;
    }

    .cabecalho__promocao__icone-promocao {
        height: 30px;
        width: 30px;
    }

    .cabecalho__principal__lista,
    .conteiner__pesquisar {
        display: none;
    }

    .cabecalho__principal-1024 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__principal-1024-logo {
        width: 10%;
    }

    .cabecalho__principal-1024-pesquisar {
        width: 40%;
        padding: 0.5em  1em;
        border: none;
        background-color: var(--cor-cinza-claro);
        border-radius: 22px;
    }
    .cabecalho__principal-1024-pesquisar::placeholder{
        background-image: url(/assets/lupa.svg);
        background-repeat: no-repeat;
       background-position-x: 100%;
    }
    .cabecalho__principal-1024-icones {
        margin: 0;
        display: flex;
        width: 25%;
        justify-content: space-evenly;
    }

    .cabecalho__principal-1024-icon {
        display: block;
        width: 30px;
    }
    .cabecalho__principal-1024-categorias{
        display: block;
        width: 100%;
        border: 1px solid var(--cor-cinza-claro);
    }
    .cabecalho__principal-1024-categorias-lista{
        margin: 0;
        display: flex;
        padding: 1em;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
    .cabecalho__principal-1024-categorias-lista-itens{
        font-size: 13px;
        font-family: var(--fonte-titulo);
        text-decoration: none;
        color: var(--cor-titulo-preto);
    }
    .botao-flutuante{
        left: 65%;
    }
}   
