.produto__conteiner{
    margin: 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}
.produto__conteiner-link{
    padding: 1em;
    text-decoration: none;
    color: var(--cor-paragrafo-cinza);
    border: 1px solid var(--cor-cinza-claro);
    width: 300px;
}

.produto__conteiner-coracao{
    background-image: url(/assets/coracao.svg);
    background-repeat: no-repeat;
    position: relative;
    left: 90%;
    text-align: end;
    width: 25px;
    height: 25px;
}
.produto__conteiner-coracao:hover{
    background-image: url(/assets/coracao-preenchido.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.produto__conteiner-produto01{
    width: 160px;
    position: relative;
    left: 24%;
}
.produto__conteiner-botao{
    overflow: auto;
    font-size: 10px;
    width: 40%;
    font-weight: 700;
    color:  var(--cor-branco);
    background-color: var(--cor-preto);
    padding: 0.5em;
    border: none;
    border-radius: 2px;
    font-family: var(Fonte-titulo);
}
.produto__conteiner-avaliacao{
    width: 80px;
    overflow: auto;
}
.produto__conteiner-titulo{
    font-size: 20px;
    font-weight: 700;
    font-family: var(Fonte-titulo);
}
.produto__conteiner-comprar-btn{
    width: 100%;
    margin-top: 1em;
    border: none;
    border-radius: 22px;
    padding: 1em;
    font-size: 1em;
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    display: none;

}
.produto__conteiner-comprar{
    display: flex;
    width: 100%;
    height: 4.5em;
}
.icone-cadeado{
    background-image: url(/assets/cadeado-branco.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.produto__conteiner-link:hover .produto__conteiner-comprar-btn{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.produto__conteiner-comprar-btn:hover{
    transition: 0.5s;
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-preto);
}
.produto__conteiner-comprar-btn:hover .icone-cadeado{
    transition: 0.5s;
    background-image: url(/assets/cadeado-preto.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.produto__conteiner-preco{
    margin: 0.5em 0;
}
.produto01, .produto02, .produto03{
    display: none;
}
@media (max-width: 689px){
    .produto01{
        display: block;
    }
}
@media (min-width:690px) and (max-width:1000px){
    .produto01{
        display: block;
    }
    .produto02{
        display: block;
    }
} 
@media (min-width:1001px){
    .produto01{
        display: block;
    }
    .produto02{
        display: block;
    }
    .produto03{
        display: block;
    }
} 
