.carrossel-recomendacoes-profissional{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.corrossel-recomendacoes__titulo{
    font-size: 34px;
    font-family: var(--fonte-titulo);

}
.carrossel-cuidados__texto{
    padding: 0;
}
.carrosel-recomendacoes{
    width: 100%;
}
.carrossel-recomendacoes-img{
    width: 120px;
    
    
}


/* card de profissionais */

.card-profissionais{
    display: flex;
    padding: 0;
    margin-top: 4em;    
}
.card-profissional-img{
    justify-content: center;
    align-items: center;
    
    width:100%;
}
@media (min-width:1024px) {
    .carrosel-recomendacoes{
        width: 700px;
    }
    .corrossel-recomendacoes__titulo{
       padding-left: 1.3em;
    }
    .card-profissional-img{
        width: 70%;
        margin: auto 15%;
    }
}
@media (min-width:1249px)  {
    .carrosel-recomendacoes{
        padding-left: 10% ;
        width: 1000px;
    }
    .carrossel-recomendacoes-img{
        width: 250px;
    }
}