.rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.rodap__menu{
    width: 100%;
}
.lista-rodape{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    opacity: 0.8;
    font-size: 24;
}
.rodape__menu-lista{
    padding: 0;
}
.dropdown__list__item{
    padding: 0.5em 0.5em 0.5em 1em;
    border-bottom: 0.5px solid var(--cor-cinza);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-titulo);
    font-size: 15px;
    color: var(--cor-paragrafo-cinza);
}
.icone-seta{
    background-image: url(/assets/seta-baixo.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.checkbox{
    display: none;
}
.rodape{
    display: none;
}
.checkbox01:checked ~ .icone-seta{
    background-image: url(/assets/seta-cima.svg)
}
.checkbox02:checked ~ .icone-seta{
    background-image: url(/assets/seta-cima.svg)
}
.checkbox03:checked ~ .icone-seta{
    background-image: url(/assets/seta-cima.svg)
}
.dropdown__conteiner-eq{
   font-weight: 700;
}
.dropdown-menu-eq{
    padding: 0 1em;
}
.rodape-conteiner{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rodape-conteiner__texto{
    color: var(--cor-titulo-preto);
    font-size: 12px;
}
.rodape-conteiner__logo{
    width: 50px;
    opacity: 0.5;
}
.rodap__menu-1024{
    display: none;
}
.rodape__menu-lista-1024{
    display: flex;
    justify-content: space-evenly;
}
@media (min-width:1024px) {
    .rodap__menu{
        display: none;
    }
    .rodap__menu-1024{
        padding-top:2em ;
        display: block;
    }
    .rodape__menu-lista__sobre-lista{
        padding: 0;
    }
    .rodape__menu-lista__sobre-lista-1024{
        padding-left: 1em;
    }
    .rodape__menu-lista__sobre-lista-1024 h3{
        font-size: 20px;
    }
}
@media (min-width:1249px)  {
    .newlatter__conteiner{
        margin: auto 35%;
    }
}