.filtro-back{
    background-color: rgba(0, 0, 0, 0.483);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
}
.sacola_compras{
    position: fixed;
    right: 0%;
    top: 0%;
    z-index: 5;
    width: 370px;
    height: 100vh;
    background-color: var(--cor-branco);
}
.icone-lixeira-sacola{
    background-color: var(--cor-branco);
    background-image: url(/assets/lixeira.svg);
    border: none;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.icone-fechar-sacola{
    margin-left: 1em;
    background-image: url(/assets/fechar-black.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.imagem-produto-sacola{
    width: 35%;
}
.progresso-frete-gratis{
    background-color: rgb(158, 0, 0);
    height: 10px;
    border-radius: 5px;
}
.cabecalho-sacola{
    padding: 1em 0.5em;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid var(--cor-cinza-claro);
}

.titulo-sacola{
    margin: 0;
    margin-left: 3em;
}
.produtos-adicionados-sacola{
    margin: 0;
    padding: 0;
    height: 450px;
}
.rodape-sacola{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    border-top: 1.5px solid var(--cor-cinza-claro);
    padding: 1em 0.5em;
}
.subtitulos-rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fundo{
    margin: auto 5%;
    display: flex;
    align-items: center;
    width: 320px;
    height: 12px;
    background-color: var(--cor-cinza-claro);
    border-radius: 10px;
    box-shadow: inset 0 0.5px 40px var(--cor-cinza-claro);
    border: 1px solid var(--cor-cinza-claro);
}
.botoes-sacola{
    display: flex;
    gap: 1.5em;
}
.botao-continuar{
    border: none;
    background-color: var(--cor-cinza-claro);
    border-radius: 30px;
}
.link-botao-continua{
    text-decoration: none;
    color: var(--cor-titulo);
    text-transform: uppercase;
    font-size: 15px;
}
.botao-finalizar-compra{
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 15px;
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}
.botao-finalizar-compra:hover{
    background-color: var(--cor-titulo-preto);
}
.produto-adicionando-sacola{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em 0;
    background-color: var(--cor-branco); 
    border-bottom: 1px solid var(--cor-cinza-claro);
}
.titulo-produto-sacola{
    display: flex;
    justify-content: space-around;
    margin: 0;

}
.quatidade-valor-produto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteiner-produto-adicionanado{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}
.quatidade-produto{
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
}
.nome-produto-sacola{
    margin: 0;
    font-weight: 700;
}
.area-sacola{
    display: flex;
    position: relative;
}

.notificacoes-sacola{
        font-size: 10px;
        font-weight: 700;
        background-color: red;
        color: var(--cor-branco);
        text-align: center;
        text-decoration: none;
        position: absolute;
        padding: 0 4.5px;
        border-radius: 10px;
        top: 15%; 
        
}
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .produto-adicionando-sacola {
    opacity: 0;
  }
  
  .produto-adicionando-sacola.slide-in {
    animation: slideIn 0.5s ease-out;
    opacity: 1;
  }
  