@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url(style/header.css);
@import url(style/banner.css);
@import url(style/carrossel.css);
@import url(style/produto.css);
@import url(style/cuidados.css);
@import url(style/recomendacoes-card-profissionais.css);
@import url(style/newlatter.css);
@import url(style/rodape.css);

:root{
    --fonte-titulo:'Franklin Gothic Medium',Arial, sans-serif;
    --fonte-paragrafo: "Montserrat", sans-serif;
    --cor-titulo-preto: #262626;
    --cor-paragrafo-cinza:#404040;

    --cor-branco: #ffffff;
    --cor-preto: #090909;
    --cor-cinza: #BFBFBF;
    --cor-cinza-claro:#F0F0F0;

    --swiper-pagination-color: #000000;
    --swiper-pagination-bottom: 22%;
    --swiper-pagination-top: auto;

}
body{
    
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: 400;
}
